@font-face {
  font-family: 'Genica';
  src: url('genica-pro/GenicaPro-One.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: Genica;
}

header{
  background-color: #4b0317;
  color: #f2b9cd;
  margin: 10px;
  padding: 10px;
}

body{
  background-color: #f2b9cd;
  color: #4b0317;
}

footer{
  background-color: #99062f;
  color: #f2b9cd;
  margin: 10px;
  padding: 10px;
}

footer a{
  background-color: #99062f;
  color: #f2b9cd;
  display: flex;
  text-align: center;
  justify-content: center;
}

#maintitle{
  display: flex;
  text-align: center;
  justify-content: center;
}

#idtitle{
  display: flex;
  text-align: center;
  justify-content: center;
}

table{
  margin: auto;
  text-align: center;
  width: fit-content;
  justify-content: center;
}

thead{
  margin: 10px;
}

tbody{
  margin: 10px;
}

div{
  margin: auto;
  padding: auto;
  text-align: center;
  justify-content: center;
}